In [4]:
import pandas as pd

df = pd.DataFrame({'a': range(10), 'b': range(20,10,-1)})

In [5]:
df

   a   b
0  0  20
1  1  19
2  2  18
3  3  17
4  4  16
5  5  15
6  6  14
7  7  13
8  8  12
9  9  11

In [ ]:
df1 = df[(df.a % 2 == 0) & (df.b %2 == 0)]

In [6]:
df1 = pd.DataFrame({'a' : range(100), 'b' : range(100,0,-1)})

In [17]:
df1.loc[(df1.iloc[:,0] % 5 == 0) & (df1.iloc[:,1] % 5 == 0),:]

     a    b
0    0  100
5    5   95
10  10   90
15  15   85
20  20   80
25  25   75
30  30   70
35  35   65
40  40   60
45  45   55
50  50   50
55  55   45
60  60   40
65  65   35
70  70   30
75  75   25
80  80   20
85  85   15
90  90   10
95  95    5

In [14]:
df.iloc[:,1] % 5 == 0

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: b, dtype: bool

In [28]:
df1.loc[(df1.loc[:,'a'] % 2 == 0) & 
       (df1.loc[:,'b'] % 3 == 0) , :]

     a   b
4    4  96
10  10  90
16  16  84
22  22  78
28  28  72
34  34  66
40  40  60
46  46  54
52  52  48
58  58  42
64  64  36
70  70  30
76  76  24
82  82  18
88  88  12
94  94   6